{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/var/www/html/restaurante/src/Controller/BaseController.php</code></li>
        <li>Your template at <code>/var/www/html/restaurante/templates/base/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
