{% extends 'base.html.twig' %}

{% block title %}New Producto{% endblock %}

{% block body %}
    <h1>Crear uno nuevo Producto</h1>

    {{ include('producto/_form.html.twig') }}

    <a href="{{ path('app_producto_index') }}">Volver</a>
{% endblock %}
