{% extends 'base.html.twig' %}

{% block title %}Edit Restaurante{% endblock %}

{% block body %}
    <h1>Edit Restaurante</h1>

    {{ include('restaurante/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_restaurante_index_admin') }}">Cancelar</a>

    {{ include('restaurante/_delete_form.html.twig') }}
{% endblock %}
