{% extends 'base.html.twig' %}

{% block title %}New Restaurante{% endblock %}

{% block body %}
    <h1>Crear uno nuevo Restaurante</h1>

    {{ include('restaurante/_form.html.twig') }}

    <a href="{{ path('app_restaurante_index') }}">Volver</a>
{% endblock %}
