{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block body %}
<div class="h-100 d-flex flex-column align-items-center justify-content-center">
    <h2>PARECE QUE HA HABIDO UN ERROR</h2>
    <p>Haz click en el boton inferior para volver al lugar adecuado.</p>
    <a href="/" class="btn btn-success">VOLVER</a>
</div>
{% endblock %}
