/*Comienzo el header*/
header{
    /*Ancho del header*/
    grid-column: 1/-1;
    /*Padding interior*/
    padding-top: 3rem;
    /*Linea divisoria inferior*/
    background-color: var(--primary);
    color: white;
}
/*Diseño del logo*/
.header__logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header .boton{
    display: flex;
    align-items: center;
    font-size: 2rem;
}
.header__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 3rem;
}
.header__menu a:not(:last-child){
    margin-right: 3rem;
}
.header__menu a:hover{
    color: var(--tertiary);
}
.header__menu>a{
    color: white;
}