<footer id="footer">
	<section id="footer__help">
		<h3>Ayuda</h3>
		<ul>
			<li><a href="#">Uso del producto</a></li>
			<li><a href="#">Preguntas frecuentes</a></li>
			<li><a href="#">Cuestiones</a></li>
			<li><a href="#">Foro</a></li>
		</ul>
	</section>
	<section id="footer__us">
		<h3>Nosotros</h3>
		<ul>
			<li><a href="#">Jobs</a></li>
			<li><a href="#">Sobre nosotros</a></li>
			<li><a href="#">Uso de nuestra marca</a></li>
			<li><a href="#">Conctacto</a></li>
		</ul>
	</section>
	<section id="footer__legal">
		<h3>Legal</h3>
		<ul>
			<li><a href="#">Contacto legal</a></li>
			<li><a href="#">Marca registrada</a></li>
			<li><a href="#">Privacidad</a></li>
			<li><a href="#">Seguridad y cookies</a></li>
		</ul>
	</section>
	<section id="footer__info">
		<div class="metodos">
			<h3>Metodos de pago</h3>
			<div class="metodos__icon">
				<i class="ri-visa-line"></i>
				<i class="ri-paypal-line"></i>
				<i class="ri-mastercard-line"></i>
			</div>
		</div>
		<div class="rrss__content__social">
			<a href="facebook.com">
				<i class="ph-light ph-facebook-logo"></i>
			</a>
			<a href="instragram.es">
				<i class="ph-light ph-instagram-logo"></i>
			</a>
			<a href="twitter.es">
				<i class="ph-light ph-twitter-logo"></i>
			</a>
			<a href="youtube.com">
				<i class="ph-light ph-youtube-logo"></i>
			</a>
		</div>
	</section>
</footer>
